.jumbotron
    .jumbo-bg
        = video_tag('Space520.mp4', :controls => false, :autoplay => true, :loop => true, :height => "100%", :width => "100%", :class => "jumbo-video")
    .jumbotron-content.text-white
        %h1.display-3
            CCIX15 
            CryptoCurrency Index
        %p.lead
            Now you can partake in the whole crypto space 
            with the world's premiere equal weight cryptocurrency index. 
        %hr.my-4
        .breaker
        %p.lead
            %a.btn.btn-success.btn-md.jumbo-btn{:href => "#", :role => "button"}
                <i class="fab fa-bitcoin"></i> Buy ICO
            %a.btn.btn-info.btn-md.jumbo-btn{:href => "#", :role => "button"}
                <i class="fab fa-slack"></i> Join #Slack
            %a.btn.btn-primary.btn-md.jumbo-btn{:href => "#", :role => "button"}
                <i class="far fa-file-alt"></i> Whitepaper
        %p.icons
            %i.fab.fa-facebook-square.fa-lg.jumbo-icon
            %i.fab.fa-twitter-square.fa-lg.jumbo-icon
            %i.fab.fa-reddit-square.fa-lg.jumbo-icon
            %i.fab.fa-github-square.fa-lg.jumbo-icon
            %i.fab.fa-medium.fa-lg.jumbo-icon
            %i.fab.fa-youtube.fa-lg.jumbo-icon
            %i.far.fa-envelope.fa-lg.jumbo-icon