%nav.navbar.fixed-top.navbar-custom.navbar-expand-lg.navbar-light
    %a.navbar-brand{:href => "#"}
        %img{:src => "https://images.vexels.com/media/users/3/137673/isolated/preview/6027584b77ebbe0720e02f5094118325-logo-geometric-polygonal-by-vexels.png", :width => "45", :height => "45", :alt => ""}
        CCIX15
    .collapse.navbar-collapse#navbarNav.justify-content-end
        %a.nav-link{:href => "#"}
            About
        %a.nav-link{:href => "#"}
            ICO
        %a.nav-link{:href => "#"}
            How to Join
        %a.nav-link{:href => "#"}
            Contact Us